# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
.pnpm-debug.log*
.pnp.cjs
.pnp.data.json

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
logs/**/*.log

jspm_packages/

# Optional npm cache directory
.npm

# Output directories
dist/
build/
coverage/
tmp/
temp/

# IDE/Editor specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS-specific files
.DS_Store
Thumbs.db

# Debug
debug/
debug.log
debug.log.*
